apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  # This matches the Service name we gave to MongoDB in Task G
  DB_URL: "mongodb://mongodb-service:27017/testdb"
  PORT: "5000"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 869935075544.dkr.ecr.ap-south-1.amazonaws.com/backend-app:latest
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP